#!/usr/bin/make -f

PREFIX := $$(pwd)/debian/raleigh-reloaded/usr

%:
	dh $@

override_dh_auto_build:
	# No build needed

override_dh_auto_install:
	install -m 0755 -d $(PREFIX)/share/themes
	$(MAKE) PREFIX=$(PREFIX) install
